[Unit]
Description=UGREEN LEDs daemon for monitoring diskio and blinking corresponding LEDs
After=ugreen-probe-leds.service
Requires=ugreen-probe-leds.service

[Service]
ExecStart=/usr/bin/ugreen-diskiomon
StandardOutput=journal

[Install]
WantedBy=multi-user.target
