[Unit]
Description=UGREEN LEDs daemon for configuring power LED
After=ugreen-probe-leds.service
Requires=ugreen-probe-leds.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ugreen-power-led
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
