[Unit]
Description=UGREEN LEDs daemon for monitoring netio (of %i) and blinking corresponding LEDs
After=ugreen-probe-leds.service
Requires=ugreen-probe-leds.service

[Service]
ExecStart=/usr/bin/ugreen-netdevmon %i
StandardOutput=journal

[Install]
WantedBy=multi-user.target
